<mat-stepper orientation="horizontal" [linear]="true" (selectionChange)="selectionChanged($event)" #stepper>
    <mat-step [completed]="isFirstStepNextEnable" label="Available Founds">
        <investments-founds></investments-founds>

        <investments-stepper-navegation [hasPrevious]="false" (nextClick)="firstStepNextClick()">
        </investments-stepper-navegation>
    </mat-step>

    <mat-step [completed]="isSecondStepCompleted" label="Current Distribution">
        <investments-founds-allocation [isExpected]="false" (hasChanges)="checkSecondStep()"></investments-founds-allocation>

        <investments-stepper-navegation (nextClick)="secondStepNextClick()"></investments-stepper-navegation>
    </mat-step>

    <mat-step [completed]="isThirdStepCompleted" label="Expected Distribution">
        <investments-founds-allocation [isExpected]="true" (hasChanges)="checkThirdStep()"></investments-founds-allocation>

        <investments-stepper-navegation (nextClick)="thirdStepNextClick()"></investments-stepper-navegation>
    </mat-step>

    <mat-step [completed]="isFourthStepCompleted" [editable]="true" label="Current Vs Expected">
        <investments-founds-distribution-chart></investments-founds-distribution-chart>

        <investments-stepper-navegation></investments-stepper-navegation>
    </mat-step>

    <mat-step [completed]="isFifthStepCompleted" [editable]="false" label="Result">
        <investments-founds-distribution></investments-founds-distribution>
    </mat-step>
</mat-stepper>