<div class="page-container">
    <mat-toolbar class="toolbar">
        <span class="title-container">
            <button class="menu-button" mat-icon-button  matTooltip="Show/Hide Sidebar" (click)="snav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <h1 class="app-name">Investments</h1>
        </span>

        @if (currentNavegationTitle) {
            <h2 class="breadcrumb" [innerHTML]="currentNavegationTitle"></h2>
        }
    </mat-toolbar>

    <mat-progress-bar *ngIf="$isLoadingContent | async" mode="indeterminate"></mat-progress-bar>

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #snav [mode]="'side'" [fixedInViewport]="false" fixedTopGap="56" [opened]="true">
            <mat-nav-list>
                @for (nav of navItems; track nav) {
                    <a class="nav-item" [ngClass]="{'nav-item-selected': nav.selected}" mat-list-item
                        [routerLink]="nav.link">
                        <mat-icon class="nav-icon" aria-hidden="false" [ariaLabel]="nav.title" [fontIcon]="nav.icon" inline>
                        </mat-icon>
                        <span class="nav-title">{{nav.title}}</span>
                    </a>
                }
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>