<div class="page-container">
    <mat-toolbar color="secondary" class="toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="app-name">Investments</h1>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #snav [mode]="'side'" [fixedInViewport]="false" fixedTopGap="56">
            <mat-nav-list>
                @for (nav of fillerNav; track nav) {
                    <a mat-list-item [routerLink]="nav.link">
                        {{nav.text}}
                    </a>
                }
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>