:host {
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }

    input {
        text-align: right;
        -moz-appearance: textfield;
    }

    .mat-mdc-form-field {
        width: 100%;
    }
}