:host {
    display: flex;
    flex-direction: column;

    .form-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: .8em;
    }

    .mat-mdc-form-field-type-mat-select,
    investments-form-field {
        min-width: 30%;
    }


}