<mat-form-field>
    <mat-label>By</mat-label>
    <mat-select [ngModel]="distributedBy" (ngModelChange)="distributedByChanged($event)">
        <mat-option [value]="0">Amount</mat-option>
        <mat-option [value]="1">Percentage</mat-option>
    </mat-select>
    <mat-hint></mat-hint>
</mat-form-field>

<ng-container *ngIf="chartOptions">
    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
        [stroke]="chartOptions.stroke" [colors]="chartOptions.colors" [dataLabels]="chartOptions.dataLabels"
        [legend]="chartOptions.legend" [markers]="chartOptions.markers" [grid]="chartOptions.grid"
        [yaxis]="chartOptions.yaxis" [title]="chartOptions.title">
    </apx-chart>
</ng-container>