:host::ng-deep {
    display: flex;

    .mat-vertical-content {
        padding: 1em;
        width: 100%;
    }

    .mat-vertical-stepper-header-container {
        height: auto;
    }

    mat-step-header {
        height: auto;
        padding: 1em;
    }

    .mat-stepper-navegation {
        display: flex;
        margin-top: 1em;

        >button:first-child {
            margin-right: 1em;
        }
    }
}