:host::ng-deep {
    display: flex;

    .mat-stepper-vertical,
    .mat-stepper-horizontal {
        background-color: transparent !important;

    }

    .mat-vertical-content,
    .mat-horizontal-content-container {
        width: 99%;
    }

    .mat-vertical-content {
        padding: 1em;
    }

    .mat-horizontal-content-container {
        padding: 1em .5em;

    }

    .mat-vertical-stepper-header-container,
    .mat-horizontal-stepper-header-container {
        height: auto;
    }

    mat-stepper {
        width: 100%;
    }

    mat-step-header {
        height: auto;
        padding: 1em;
    }
}